header {
  text-align: center;
  display: block;
  border-bottom: 2px solid gray;

}

main {
  display: block;
  font-family: 'Open Sans Condensed', Helvetica, Arial;
}


.enums {
  display: inline-block;

}

.code {
  border: 2px solid gray;
  display: block;
}

.challenges {

}


footer{
  display: block;
  text-align: center;
  font-size: 10px;
  border-top: 2px solid gray;

}