body {
  margin: 0;
}

#nav {
  width: 100%;
  margin-right: 35px;
  margin-bottom: -12.5px;
  position: fixed;
  display: block;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  background: #FFF;
  opacity: .95;
  z-index: 1;
  border-bottom: 1.5px solid #E5E5E5;
}

a {
  text-decoration: none;
}

#nav a {
  text-decoration: none;
  color: #555;
  font-size: 20px;
  margin-left: 12.5px;
  margin-right: 12.5px;
  float: right;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

#nav a:link {
  color: #555;
}

#nav a:hover {
  color: #d3d3d3;
}

#nav ul {
  text-align: center;
}

#nav ul li {
  list-style: none;
  float: right;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

#nav a:link {
  color: #221559;
}

#nav a:hover {
  color: #d3d3d3;
}

#header {
  height: 100px;
  width: 100%;
  text-align: center;
  background: url(../imgs/square.jpg);
/*  background-color: blue;
*/  background-size: cover;
  background-position: 50% 50%;
  padding-top: 120px;
  padding-bottom: 15px;
}

#name h1 a {
  color: white;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  padding: 13px;
  text-decoration: none;
  border: 5px solid white;
}

#main {
  min-height: 300px;
  width: 100%;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 100px;
}

#main h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: #555;
  position: relative;
  left: 100px;
  padding-top: 10px;
}

#main h1 a {
  color: #555;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

#main h1 a:hover {
  color: #d3d3d3;
}

#main p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  color: #555;
  position: relative;
  left: 100px;
}

#footer ul {
  text-align: center;
}

#footer {
  position: relative;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-color: #4CA090;
  overflow:hidden;
}

#footer ul li {
  display:inline-block;
  padding-left: 100px;
}

#footer img {
  position: relative;
  bottom: 20px;
}

#twitter, #github {
  position: relative;
  bottom: 20px;
}